VITE_APP_BACKEND_URL=http://localhost:3000/api
VITE_APP_IMAGE_BASE_URL=http://localhost:3000

# for pagination
VITE_APP_PRODUCTS_PER_PAGE=8
# for category pagination where you're taken to products page with products of that category, you can set the number of products per category here
VITE_APP_PRODUCTS_PER_CATEGORY=4